.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 65px;
    background-color: var(--bg-color-light);
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-logo > img {
    width: 90px;
    border-radius: 25px;
    vertical-align: middle;
    padding: 0 10px;
}

.navbar-links {
    list-style: none;
}

li {
    display: inline;
    margin-right: 15px;
}